[submodule "dependencies/cereal"]
	path = dependencies/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "external/Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
