[mysqld]

state_log_hash_filename = /var/lib/mysql/log/state_hash/
state_log_function_filename = /var/lib/mysql/log/state_function/
state_log_grp_index_filename = /var/lib/mysql/log/state_log_grp.index
state_log_grp_data_filename = /var/lib/mysql/log/state_log_grp.data
state_log_table_filename = /var/lib/mysql/log/state_log_table.bin
state_log_filename = /var/lib/mysql/log/state_log.bin
state_log_max_ring_size = 8M
state_log_max_thread_count = 3
state_log_ring_high_threshold = 50
state_log_ring_low_threshold = 10
state_log_hash_mod_count = 3
state_log_hash_use = 1

