version: "3.1"

services:
  db:
    build: ../../baseimg
    environment:
      TZ: Asia/Seoul
      MARIADB_DATABASE: benchbase
      MARIADB_ROOT_PASSWORD: password
      MARIADB_USER: admin
      MARIADB_PASSWORD: password
    expose: 
      - 3306
    ports:
      - 3306:3306
    restart: unless-stopped
    volumes: 
      - ./db_data:/var/lib/mysql
      - ./mysql.cnf.d:/etc/mysql/conf.d
    network_mode: default

