[mysqld]
log-bin=server-binlog
binlog_format=ROW
binlog_row_image=FULL
binlog_row_metadata=FULL
binlog-checksum=NONE
binlog_rows_query_log_events=ON
max_binlog_size=300M
sync_binlog=1000

log_bin_trust_function_creators=1
