extends layout

block content
  h1= title
  form(name='create-item', method='post')
    div.input
      span.label item_name
      input(type='text', name='item_name')
    div.input
      span.label description
      input(type='text', name='description')
    div.input
      span.label is_onetime
      input(type='checkbox', name='is_onetime')
    div.input
      span.label price
      input(type='text', name='price')
    div.input
      span.label discount
      input(type='text', name='discount')
    div.actions
      input(type='submit', value='Submit')