extends layout

block content
  h1= title
  form(name='create-bill', method='post')
    div.input
      span.label bill_name
      input(type='text', name='bill_name')
    div.input
      span.label description
      input(type='text', name='description')
    div.input
      span.label due_date
      input(type='date', name='due_date')
    div.input
      span.label payer_id
      input(type='text', name='payer_id')
    div.input
      span.label is_recurring
      input(type='checkbox', name='is_recurring')
    div.input
      span.label recurring_start
      input(type='date', name='recurring_start')
    div.input
      span.label recurring_end
      input(type='date', name='recurring_end')
    div.input
      span.label recurring_is_weekly
      input(type='checkbox', name='recurring_is_weekly')
    div.input
      span.label recurring_period
      input(type='number', name='recurring_period', value='1')

    div.actions
      input(type='submit', value='Submit')