extends layout

block content
  h1= title
  form(name='delete-item-bill', method='post')
    div.input
      span.label session_id
      input(type='text', name='session_id', value="#{session_id}", readonly='readonly')
    div.input
      span.label bill_id - item_id
      select(name='bill_item_id')
        option(value='') Select Section
        each id in id_list
          option(value=id) #{id}
    div.actions
      input(type='submit', value='Submit')