extends layout

block content
  h1= title
  form(name='logout', method='post')
    div.input
      span.label user_id
      input(type='text', name='user_id', value="#{user_id}", readonly='readonly')
    div.input
      span.label session_id
      input(type='text', name='session_id', value="#{session_id}", readonly='readonly')
    div.actions
      input(type='submit', value='Submit')