version: "3.1"

services:
  db:
    image: mysql:8.0.32-debian
    # build: ../../baseimg
    environment:
      TZ: Asia/Seoul
      MYSQL_DATABASE: benchbase
      MYSQL_ROOT_PASSWORD: password
      MYSQL_USER: admin
      MYSQL_PASSWORD: password
    expose:
      - 3306
    ports:
      - 3306:3306
    restart: unless-stopped
    volumes:
      - ./db_data:/var/lib/mysql
      - ./mysql.cnf.d:/etc/mysql/conf.d
    network_mode: default

